/* .App {
  text-align: center;
} */
.App {
  text-align: center;
  background-color: #20b9d0;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.keyboard2{

  margin-top: 30px;
  margin-right: 70px;
  display: flex;

}
#s{
  background-color: #0b0674;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1b4db2;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textarea {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
  font-family: 'Arial', sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
body{
  background-color: #0fea34;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(158, 107, 107, 0.2);
  height: 200px;
  width: 90%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 10px;
  margin-right: 15px;
}
#blue{
background-color: #4087e9;
width: 75px;
}
#red{
background-color: #e21e1e;
width: 75px;

}
#green{
background-color: #14cf27;
width: 75px;

}
#black{
background-color: #4c5e66;
width: 75px;

}
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.keyboard-row {
  display: flex;
  margin-bottom: 5px;
}
.main{
  display: flex;
  justify-content: center;
  height: 200px;
  width: 90%;
}

.key-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 3px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.key-button:hover {
  background-color: #e0e0e0;
}

.key-button:active {
  background-color: #d0d0d0;
}

.keyboard .special-key {
  background-color: #d9edf7;
  color: #31708f;
}

.keyboard .special-key:hover {
  background-color: #c4e3f3;
}

.keyboard .special-key:active {
  background-color: #a9d3e6;
}
